<topbar></topbar>
<div layout="row" layout-align="center none">
    <md-card flex="85">
        <h2 class="titleUser">Trocar a senha</h2>
        <form>
            <h3 class="dataLabelUser">Senha atual: </h3>
            <input ng-model="userData.oldPassword" class="dataFieldUser" type="password" name="oldPassword">
            <h3 class="dataLabelUser">Nova senha: </h3>
            <input ng-model="userData.password" class="dataFieldUser" type="password" name="password">
            <h3 class="dataLabelUser">Repita a nova senha: </h3>
            <input ng-model="userData.confirmedPassword" class="dataFieldUser" type="password" name="confirmedPassword">
            <div class="buttonHolderUser">
                <md-button style="margin-left: 150px" class="red-md-button register-md-button" ng-click="goBack()">
                    <i class="material-icons" style="color:#fff;">navigate_before</i>
                    Voltar
                </md-button>
                <md-button class="green-md-button register-md-button" ng-click="changePassword(userData)">
                    Salvar Mudanças
                </md-button>
            </div>
        </form>
    </md-card>
</div>