<topbar></topbar>
<div layout="row" layout-align="center none">
    <md-card flex="85">
        <h2 style="margin-left: 20px;">Trocar a senha</h2>
        <form>
            <h3 style="margin-left: 50px; margin-bottom: 5px">Senha atual: </h3>
            <input ng-model="userData.oldPassword" style="margin-left: 100px; margin-top: 5px" type="password" name="oldPassword">
            <h3 style="margin-left: 50px; margin-bottom: 5px">Nova senha: </h3>
            <input ng-model="userData.password" style="margin-left: 100px; margin-top: 5px" type="password" name="password">
            <h3 style="margin-left: 50px; margin-bottom: 5px">Repita a nova senha: </h3>
            <input ng-model="userData.confirmedPassword" style="margin-left: 100px; margin-top: 5px" type="password" name="confirmedPassword">
            <div>
                <md-button style="margin-left: 150px" class="red-md-button register-md-button" ng-click="goBack()">
                    <i class="material-icons" style="color:#fff;">navigate_before</i>
                    Voltar
                </md-button>
                <md-button class="green-md-button register-md-button" ng-click="changePassword(userData)">
                    Salvar Mudanças
                </md-button>
            </div>
        </form>
    </md-card>
</div>