<topbar></topbar>
<div layout="row" layout-align="center none">
    <md-card flex="85">
        <h2 style="margin-left: 20px;">Meu Perfil</h2>
        <h3 style="margin-left: 50px; margin-bottom: 5px">Nome: </h3>
        <p style="margin-left: 100px; margin-top: 5px">{{user.principal.username}}</p>
        <h3 style="margin-left: 50px; margin-bottom: 5px">Email: </h3>
        <p style="margin-left: 100px; margin-top: 5px">{{user.principal.email}}</p>
        <h3 style="margin-left: 50px; margin-bottom: 5px">Telefone: </h3>
        <p style="margin-left: 100px; margin-top: 5px; margin-bottom: 50px">{{user.principal.phone}}</p>
        <div>
            <md-button style="margin-left: 150px" class="red-md-button register-md-button" ng-click="goBack()">
                <i class="material-icons" style="color:#fff;">navigate_before</i>
                Voltar
            </md-button>
            <md-button class="blue-md-button register-md-button" href="#!/myprofile/changepassword">
                Trocar a senha
            </md-button>
            <md-button class="green-md-button register-md-button" href="#!/myprofile/edit">
                Editar perfil
            </md-button>
        </div>
    </md-card>
</div>