lib-constants { //já que CSS é lixo
    //red: #b02222
    //red hover: #c92929
    //pink: #c992aa
    //blue: #164789
    //green: #468e14
    //yellow: #f7e605
    //orange: #f09400
    //background: #fafafa
    //background of background: #616161
}

.md-button {
    text-transform: capitalize;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    color: white;
}

.backgroundOfBackground {
    width: 100%;
    height: 100%;
    background-color: #616161;
    overflow: auto;
}

.png-foodbook {
    width: 231px;
    height: 67px;
}

.red-md-button {
    background-color: #b02222;
}

.md-button.red-md-button:hover {
    background-color: #c92929;
}

.green-md-button {
    background-color: #468e14;
}

.md-button.green-md-button:hover {
    background-color: #459721;
}

.error-message {
    color: #c92929;
}

.success-message {
    color: #459721;
}

.text-center {
    text-align: center;
}

.login-md-card {
    background-color: #fafafa;
    border-radius: 10px;
}

.login-png-foodbook {
    margin: auto auto 15px auto;
}

.login-md-input-container {
    margin: 10px 15%;
    width: 70%;
}

[ng-click] {
    cursor: pointer;
}

.group {
    border: 1px solid black;
}

.register-md-button {
    width: 170px;
}

.register-container .png-foodbook {
    margin-top: 15px;
    margin-left: 15px;
}



@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}