<topbar></topbar>
<div  layout="row" layout-align="center none">
    <md-card flex="85">
        <h1 class="text-center" ng-if="!group.id">Crie um grupo!</h1>
        <h1 class="text-center" ng-if="group.id">Editar grupo</h1>

        <md-input-container class="login-md-input-container">
            <label>Nome</label>
            <input type="text" ng-model="group.name">
        </md-input-container>

        <md-input-container class="login-md-input-container">
            <label>Descrição</label>
            <input type="text" ng-model="group.description">
        </md-input-container>

        <div ng-if="vm.message" class="success-message text-center">
            {{message}}
        </div>

        <div ng-if="vm.error" class="error-message text-center">
            {{error}}
        </div>

        <md-card-actions layout="row" layout-align="space-around center" style="margin-bottom: 25px">
            <md-button  class="red-md-button register-md-button" ng-click="goBack()">
                <i class="material-icons" style="color:#fff;">navigate_before</i>
                Voltar
            </md-button>
            <md-button  class="green-md-button register-md-button" ng-click="saveGroup(group)">
                Salvar
                <i class="material-icons" style="color:#fff;">navigate_next</i>
            </md-button>
        </md-card-actions>

    </md-card>
</div>