<topbar></topbar>
<div  layout="row" layout-align="center none">
    <md-card flex="85">
        <md-card-content>
            <md-button class="green-md-button register-md-button" href="#!/groups/{{group.id}}/edit" ng-if="isGroupOwner">
                Editar grupo
            </md-button>

            <div layout="row" layout-align="space-between center">
                <h1>{{group.name}}</h1>
                <span class="md-title">Administrador: {{group.administrator.username}}</span>
            </div>
            <p class="md-subhead">
                {{group.description}}
            </p>
            <md-divider></md-divider>

            <div>
                <h1>Receitas do grupo</h1>
                <recipe-list recipes="recipes"></recipe-list>

                <md-button class="green-md-button register-md-button" href="#!/groups/{{group.id}}/recipe/create" ng-if="isGroupMember">
                    <i class="material-icons" style="color:#fff;">add</i>
                    Criar receita
                </md-button>
            </div>

            <div>
                <h1>Usuários do grupo</h1>
                <user-list members="group.members"></user-list>

                <md-button class="green-md-button register-md-button" ng-click="enterGroup(user, group)" ng-if="!isGroupMember">
                    Participar
                </md-button>

                <md-button class="red-md-button register-md-button" ng-click="leaveGroup(user, group)" ng-if="isGroupMember">
                    Sair do grupo
                </md-button>
            </div>
        </md-card-content>
    </md-card>
</div>