<topbar></topbar>
<div  layout="row" layout-align="center none">
    <md-card flex="85">
        <md-card-content>
            <md-button class="green-md-button register-md-button" href="#!/groups/{{vm.group.id}}/edit" ng-if="vm.isGroupOwner">
                Editar grupo
            </md-button>

            <div layout="row" layout-align="space-between center">
                <h1>{{vm.group.name}}</h1>
                <span class="md-title">Administrador: {{vm.group.administrator.username}}</span>
            </div>
            <p class="md-subhead">
                {{vm.group.description}}
            </p>
            <md-divider></md-divider>

            <div>
                <h1>Receitas do grupo</h1>
                <recipe-list recipes="vm.recipes"></recipe-list>

                <md-button class="green-md-button register-md-button" href="#!/groups/{{vm.group.id}}/recipe/create" ng-if="vm.isGroupMember">
                    <i class="material-icons" style="color:#fff;">add</i>
                    Criar receita
                </md-button>
            </div>

            <div>
                <h1>Usuários do grupo</h1>

                <md-button class="green-md-button register-md-button" ng-click="vm.enterGroup(vm.user, vm.group)" ng-if="!vm.isGroupMember">
                    <i class="material-icons" style="color:#fff;">add</i>
                    Participar do grupo
                </md-button>
            </div>
        </md-card-content>
    </md-card>
</div>