<topbar></topbar>
<div layout-fill layout="row" layout-align="center none">
    <md-card flex="85">
        <md-card-content>
            <div layout="row" layout-align="space-between center">
                <h1>{{vm.group.name}}</h1>
                <span class="md-title">Administrador: {{vm.group.administrator.username}}</span>
            </div>
            <p class="md-subhead">
                {{vm.group.description}}
            </p>
            <md-divider></md-divider>

            <div>
                <h1>Receitas do grupo</h1>
            </div>

            <div>
                <h1>Usuários do grupo</h1>
            </div>
        </md-card-content>
    </md-card>
</div>