h3.dataLabelUser {
    margin-left: 50px;
    margin-bottom: 5px;
}

.dataFieldUser {
    margin-left: 100px;
    margin-top: 5px;
}

div.buttonHolderUser {
    margin-left: 150px;
    margin-top: 50px;
}

h2.titleUser {
    margin-left: 20px;
}