<md-toolbar style="background-color: #b02222" >
    <md-toolbar-filler  style="padding-right: 20px; width: 100%">
        <div layout="row" layout-align="space-between center">
            <div flex="20">
                <a href="#!/home">
                    <img flex src="../../../../pictures/foodbook.png" class="png-foodbook" />
                </a>
            </div>

            <div flex="55" layout="row" layout-align="end center">
                <div flex="55" layout="row" layout-align="start center">
                    <input flex="70" type="text" class="search-input" placeholder="Pesquisar" ng-model="vm.searchedName"/>
                    <md-button ng-click="vm.search()" class="search-button">
                        Buscar
                    </md-button>
                    <select class="search-type-select">
                        <option value="group">por Grupo</option>
                        <option value="recipe">por Receita</option>
                    </select>
                </div>
                <!---->
                <div class="user-actions">
                    <md-menu>
                        <md-button ng-click="$mdMenu.open($event)" class="md-icon-button">
                            <i class="material-icons">menu</i>
                        </md-button>

                        <md-menu-content class="user-menu">
                            <md-menu-item>
                                <md-button flex href="#!/home">
                                    Home
                                </md-button>
                            </md-menu-item>

                            <md-menu-item>
                                <md-button flex href="#!/logout">
                                    Logout
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </div>
        </div>
    </md-toolbar-filler>
</md-toolbar>