<html>
    <title>Foodbook</title>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- LIBS -->
        <link rel="stylesheet" href="css/lib/angular-material.min.css">
    
        <!--APP-->
        <link rel="stylesheet" href="css/app/app.css">
        <link rel="stylesheet" href="css/app/components/group/group.css">
        <link rel="stylesheet" href="css/app/components/topbar/topbar.css">

        <!--material icons-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">
    </head>

    <body ng-app="Foodbook" ng-cloak>
        <!--Main content goes here-->
        <div class="backgroundOfBackground">
            <div ng-view></div>
        </div>
    </body>
    
    <!-- LIBS -->
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-animate.min.js"></script>
    <script src="js/lib/angular-aria.min.js"></script>
    <script src="js/lib/angular-messages.min.js"></script>
    <script src="js/lib/angular-material.min.js"></script>
    <script src="js/lib/angular-resource.min.js"></script>
    <script src="js/lib/angular-route.min.js"></script>
    <script src="js/lib/ngStorage.min.js"></script>

    <!--APP-->
    <script src="js/app/app.js"></script>
    <script src="js/app/constants.js"></script>
    <script src="js/app/services/groupServices.js"></script>
    <script src="js/app/services/userServices.js"></script>

    <script src="js/app/components/myGroups/myGroups.js"></script>
    <script src="js/app/components/group/group.js"></script>
    <script src="js/app/components/group/create.js"></script>
    <script src="js/app/components/recipe/recipe.js"></script>
    <script src="js/app/components/recipe/create.js"></script>
    <script src="js/app/components/login/login.js"></script>
    <script src="js/app/components/register/register.js"></script>
    <script src="js/app/components/home/home.js"></script>
    <script src="js/app/components/topbar/topbar.js"></script>
</html>