<md-grid-list ng-if="recipes.content.length"
        md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px" >

    <md-grid-tile class="group" ng-repeat="recipe in recipes.content" ng-click="vm.goToRecipe(recipe)">
        <md-grid-tile-header>
            <h3>{{recipe.name}}</h3>
        </md-grid-tile-header>
        <img flex="auto" src={{recipe.photo}} height="100%" width="100%">
        <md-grid-tile-footer>
            <h4>{{recipe.description}}</h4>
        </md-grid-tile-footer>
    </md-grid-tile>
</md-grid-list>

<div ng-if="!recipes.content.length">
    Não há receitas
</div>

<div data-pagination="" data-num-pages="vm.numOfPages()"
     data-current-page="vm.currentPage" data-max-size="vm.maxSize"
     data-boundary-links="true"></div>
